strong {
    color: var(--brand-color-primary);
}

#about {
    display: grid;
    justify-content: center;
    background-color: var(--surfecer-color);
}

.container{
    display: flex;
    justify-content: center;
}

.letra{
    width: 600px;
    height: 600px;
    color: var(--text-color-secondary);
    margin-right: 500px;
}

.desktop-only {
    position: absolute;
    right: 0;
    padding-left: 20px;
    width: 544px;
    height: 558px;
}

@media (max-width: 768px) {
    #about .container {
        flex-direction: column; /* Empilha o texto e a imagem */
        align-items: center;
        text-align: center;
    }

    #about .letra {
        margin-right: 0;
        width: 100%;
    }

    .desktop-only {
        width: 80%;
        height: auto;
        position: static; /* Remove a posição absoluta */
    }
}
