strong {
    color: var(--brand-color-primary);
}

#about {
    display: grid;
    justify-content: center;
    background-color: var(--surfecer-color);
}

.container{
    display: flex;
    justify-content: center;
}

.letra{
    width: 600px;
    height: 600px;
    color: var(--text-color-secondary);
    margin-right: 500px;
}

.desktop-only {
    position: absolute;
    right: 0;
    padding-left: 20px;
    width: 544px;
    height: 558px;
}