.features {
    margin: 32px;
    display: grid;
    grid-template-areas: 
    "box1 box2 box3";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    max-width: 1750px;
    height: 70vh;
    p {
        color: var(--text-color-secondary);
        margin: 50px
    }
    h1 {
    margin: 50px;
        padding: 10px; /* Ajuste conforme necessário */
        font-size: 2.0em; /* Ajuste o tamanho como preferir */
    }
}

.box1 {
    grid-area: box1;
    background-color: var(--stroker-color);
    color: white;
    border: 1px solid var(--text-color-secondary);
    border-radius: 24px;
}

.box2 {
    grid-area: box2;
    background-color: var(--stroker-color);
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 24px;
    border: 1px solid var(--text-color-secondary);
}


.Tela_2 {
    width: 240px;
    height: 485px;
    
}

.Tela_1 {
    width: 240px;
    height: 485px;
}

.Tela_3 {
    width: 240px;
    height: 485px;
}

.box3 {
    grid-area: box3;
    background-color: var(--stroker-color);
    color: white;
    border-radius: 24px;
    border: 1px solid var(--text-color-secondary);
}

.features-2 {
    display: grid;
    grid-template-areas:
    "box4 box5";
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    max-width: 1750px;
    height: 70vh;
    
    
    p {
        color: var(--text-color-secondary);
        margin: 50px;
    }
    h1 {
        margin: 50px;
        padding: 10px; /* Ajuste conforme necessário */
        font-size: 2.0em; /* Ajuste o tamanho como preferir */
    }
}

.box4 {
    grid-area: box4;
    background-color: var(--stroker-color);
    color: white;
    display: flex;
    align-items: center;
    border-radius: 24px;
    flex-direction: row-reverse;
    border: 1px solid var(--text-color-secondary);
}

.box5 {
    grid-area: box5;
    background-color: var(--stroker-color);
    color: white;
    display: flex;
    align-items: center;
    border-radius: 24px;
    border: 1px solid var(--text-color-secondary);
}

.icon2 {
    padding: 20px;
}

.icon1 {
    padding: 30px;
}

@media (max-width: 768px) {
    .features {
        display: flex;
        flex-direction: column; /* Empilha os boxes */
        gap: 16px; /* Espaço entre os boxes */
        align-items: center; /* Centraliza os boxes */
        margin-left: -2px;
    }

    .features-2 {
        display: flex;
        flex-direction: column; /* Empilha os boxes */
        gap: 16px; /* Espaço entre os boxes */
        align-items: center; /* Centraliza os boxes */
        margin-top: 910px;
    }

    .box1, .box2, .box3, .box4, .box5 {
        width: 100%;
        text-align: center;
    }

    .Tela_1, .Tela_2, .Tela_3 {
        width: 100%;
        height: auto;
        display: none;
    }
}

