header {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    position: relative;
}

.logo {
    position: absolute;
    left: 0;
    padding-left: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    justify-content: right;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    text-decoration: none;
    color: #A1A1AA;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Empilha os itens */
        align-items: flex-start;
    }

    @media (max-width: 768px) {
        a[href="#app"], 
        a[href="#function"], 
        a[href="#planos"] {
            display: none;
        }
    }

    @media (max-width: 768px) {
        .nav-links button.btn-lg-primay {
            margin-left: 370px; /* Adiciona um espaço acima do botão */
        }
    }

    .logo {
        padding: 0;
    }
}
