/*main {
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.btn-lg-primay,
.btn-lg-secondary {
    margin: 0 10px;
}

.btn-lg-primay,
.btn-lg-secondary {
    display: inline-block;
}*/

#hero {
    text-align: center;


& img [src*='music'] {
    width: 12.875rem;
}

& h1 {
    margin-top: 1rem;
    
}

& p {
    font: var(--fw-md) var(--fs-lg) / 1.4 var(--ff-sans);
    color: var(--text-color-secondary);
    margin-top: 0.5rem;
}

& .botões {
    justify-content: center;
    margin-top: 2rem;
}

}

@media (width >= 80em) {
#hero {
    background: url(../assets/bg-hero-desktop.svg) no-repeat bottom center/contain;
    padding-bottom: 15rem;


& img [src*='music'] {
    width: 25.75rem;
}

& h1{
    margin-top: 2rem;
}

& p{
    margin-top: 1rem;
    font-size: 2.5rem;
}

.botões{
    margin-top: 3rem;
}
}
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 32px; /* Reduz o tamanho do título */
    }

    #hero img {
        width: 100%;
        max-width: 3000px; /* Ajusta a largura da imagem */
        height: auto;
    }

    #hero p {
        font-size: 16px; /* Reduz o tamanho do texto */
        margin-top: 1rem;
    }

    #hero .botões {
        flex-direction: column;
        gap: 10px; /* Espaço entre os botões */
    }
}
